@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
    height: 100px;
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border-bottom: 2px solid grey;
}

button {
    cursor: pointer;
}

.nav__login {
    display: flex;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    margin: 12px;
    border: none;
}

.btn--color {
    background-color: #7645D9;
    color: white;
}

.login {
    padding: 12px 20px 12px 20px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

figure {
    width: 200px;
}

.skeleton {
    background-color: rgba(224, 224, 224, 0.7);
    width: 100px;
    height: 50px;
    margin: 16px;
}